[defaults]
host_key_checking = True
deprecation_warnings = False
stdout_callback = ansible.builtin.default
result_format = yaml
callbacks_enabled = timer, profile_tasks
timeout = 60
become_timeout = 60

roles_path = .:UBUNTU26-STIG/..

[ssh_connection]
pipelining = True
ssh_args = -o ConnectTimeout=60 -o ConnectionAttempts=5 -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p"

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, ini, yaml
